.admin-wrapper {
  width: max(40%, 600px);
  height: 100vh;
  background: var(--base-color);
  border-radius: 0 20px 20px 0;
  padding: 40px 25px;
  box-sizing: border-box;
  overflow-y: auto;
}

h1 {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 25px;
  color: #666;
}

.app-card {
  background: var(--input-color);
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 18px;
  display: flex;
  gap: 15px;
  border: 2px solid transparent;
  transition: 0.2s;
}

.app-card:hover {
  border-color: var(--accent-color);
}

.app-icon {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  background: #ddd;
}

.app-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.approve-btn {
  padding: 7px 18px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
}

.reject-btn {
  padding: 7px 18px;
  background: #d9534f;
  color: white;
  border: none;
  border-radius: 8px;
}

.status-approved {
  color: #2fa448;
  font-weight: 600;
}

.status-rejected {
  color: #d73a36;
  font-weight: 600;
}

.logout-btn {
  background:#ff4d4d;
  color:white;
  padding:10px 20px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin:15px;
}
