.upload-wrapper {
  width: max(40%, 600px);
  height: 100vh;
  background: var(--base-color);
  padding: 40px 30px;
  border-radius: 0 20px 20px 0;
  overflow-y: auto;
  box-sizing: border-box;
}

.upload-title {
  font-size: 2.5rem;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--text-color);
}

.subtitle {
  color: #777;
  margin-bottom: 20px;
}

.input-box label {
  width: 60px !important;
}

textarea {
  width: 100%;
  padding: 15px;
  background: var(--input-color);
  border: 2px solid var(--input-color);
  border-radius: 0 10px 10px 0;
  min-height: 90px;
  resize: vertical;
}

textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.upload-area {
  border: 2px dashed var(--accent-color);
  background: var(--input-color);
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
}
.upload-area:hover {
  background: #e9e3ff;
}

.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.thumb {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  overflow: hidden;
  background: #ddd;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secondary {
  background: transparent !important;
  border: 2px solid var(--accent-color);
  color: var(--accent-color) !important;
  margin-left: 10px;
}

.logout-btn {
  background:#ff4d4d;
  color:white;
  padding:10px 20px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin:15px;
}
